
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";

}
body{
    background-color: #F4F6FC;
}

.btn{

    background: linear-gradient(225deg, #F4F6FC, #F4F6FC);
    box-shadow: 
    2px 2px 24px rgba(0, 0, 0, 0.08),
    -2px -2px 24px rgba(0, 0, 0, 0.08);
    font-weight: 500;

    border-radius: 10px;
    border: none;

    width: 150px;
    height: 52px;
}

.btn-secondary{
    background: rgb(244, 246, 252);
    color: #6B708D;
    border-radius: 2px;
    border: none;
    font-weight: 500;
/*     width: 100px;
    border-radius: 10px;

    background: linear-gradient(75deg, #F4F6FC, #F4F6FC);
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.05),
                inset -4px -4px 10px rgba(0, 0, 0, 0.05); */
}

.flex-row{
    display: flex;
    flex-direction: row;

}
.flex-column{
    display: flex;
    flex-direction: column;
}

.content-toCenter{
    justify-content: center;
    align-content: center;
    text-align: center;

}
.xlarge-text{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}

.large-text{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.largeMedium-text{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.medium-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    
}
.small-text{
    line-height: 17px;
    font-size: 17px;
    font-weight: 400;
}

.xsmall-text{
    line-height: 15px;
    font-size: 13px;
    font-weight: 400;
}

/* ---------HEADER SECTION-------------- */

    .header-container{
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: 70px 30px 0px 30px;
        height: 40px;
    }

    .header-link{
        margin: 0 30px 0 30px;
        text-decoration: none;
        color: #6B708D;
        font-weight: 500;
        font-size: 18px;
    }

    .header-btn{
        justify-content: center;
        align-items: center;

    }

/* --------------------BODY SECTION-------------------- */
    .body-container{
        padding-left: 2%;
        padding-right: 2%;
    }

    @media screen and (min-device-width:768px){
        .services-card-container{
            justify-content:space-between;
        }   

        .footer-links-container ul {
            gap: 60px 106px; 
        }
        .services-card{
            background-color: white;
            width: 20vw;
            padding: 40px 30px 30px 30px;
            margin-left: 8px;
        }
        .services-card:first-child{
            margin-left: 0px;
        }
    
    }
    @media screen and (max-device-width:468px) {
        .header-container{

            flex-direction: column;
        }
        header nav{
            flex-direction: column;
            justify-content: flex-start;
        }
        .hero-container{
            flex-wrap: wrap;
        }
/*         .hero-rigth{
            width: 400px;
        } */

        .footer-links-container ul{
            flex-direction: column;
            width: 450px;
        }
        .header-container nav{
            flex-direction: column;
        }
 
    }

    @media screen and (max-device-width:767px){
        .emoji{
            display: none;
        }

        .services-title-container{
            text-align: center;
        }
        .services-card-container{
            flex-wrap: wrap;
            margin: auto;
            justify-content: center;
        }

        .services-card{
            background-color: white;
            width: 200px;
            padding: 40px 30px 30px 30px;
            margin: 20px;


        }
        .projectsContainer{
            text-align: center;
        }

        .projects-container{
            flex-wrap: wrap;
            margin: auto;

        }
        .project-card{
            justify-content: center;
            margin: 20px 20px;
        }

    }
        
    

html{
    width: 100%;
}


/* ----------------HERO SECTION-------------- */

        
    .hero-container {
        margin-top: 100px;
        padding: 0 10% 0 10%;
        display: flex;
        flex-direction: row;


    }

    .hero-left{
        justify-content: center;
        align-self: center;
        width: auto 40%;


    }
    .hero-rigth{
        width: auto 50.4%;

    }

    .hero-img-container{
        position: relative;
        margin-top: 50px;
    }

    .hero-img{
        max-width: 100%;
        max-height: 100%;
    }

    .hero-text{
        color: #6B708D;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .work-btn{
        margin-left: 40px;
    }

    .hero-card{
        position: relative;
    }
    .hero-card-top{
        position: absolute;
        top: 0;
        width: 33%;
        left: 0;
        

    }
    .hero-card-bot{
        position: absolute;

        bottom: 0;
        right: 0;
        width: 33%;;


    }

/* ----------------CLIENT SECTION-------------- */

    .client-container{
        margin-top: 163px;
        padding: 0 10% 0 10%;
        justify-content: space-between;
        flex-wrap: wrap;
        filter: contrast(0%);
    }
/* ----------------PROJECTS SECTION-------------- */

.projectsContainer{
    padding: 0 10% 0 10%;
    margin-top: 200px;
}
.projects-container{
    justify-content: space-between;
    margin-top: 23px;
}

.projectImg{    
    width: 100%;
    height: 200px;
}
.project-card{
    background-color: white;
    width: 300px;
}
.card-text-container{
    margin: 0px 10px 10px 30px;
    
}.project-card-title{
    margin:30px 0 10px 0;
}
.project-description{
    margin-bottom: 54px;
    color:#6B708D;
}
.project-link{
    margin-bottom: 30px;
    text-decoration: none;
    
}

/* ----------------TESTIMONIAL SECTION-------------- */
    .testimonial-container{
        background-color: #292E47;
        background-image: url("assets/images/orbit.png");
        background-size: 110vw;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
      }

    .testimonial-top-row{
        justify-content: space-between;
        align-items: center;
        margin: 120px 91px 104px 91px;

    }
    .testimonial-top-row h3{
        color:#F4F6FC;
    }

    .testimonial-mid-row{
        justify-content: space-between;
        color: #FFC600;
        margin-bottom: 104px;
        font-size: 24px;
        font-weight: 500;
    }
    .testimonial-bot-row{
        justify-content: space-between;
        margin: 0 91px 120px 91px;
    }

    .emoji{
        width: 100px;
        height: 100px;
        background-color: transparent;
    }

    .testimonial-profile-img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 10px;
    }
    .testiominal-user-container{
        align-items: center;
    }
    .testimonial-profile-job{
        color:#F4F6FC;
    }

    .testimonial-profile-name{
        color: #A2D6F9;
        margin-bottom: 5px;
    }


/* ---------------- SERVICES SECTION-------------- */
    .services-container{
        margin:  100px 0 100px 0;
        padding: 0 10% 0 10%;
    }

    .services-title-container{
        margin-bottom: 70px;
    }

    .services-text{
        color: #6B708D;
    }
        


    .services-card div{
        width: 45px;
        height: 45px;
        text-align: center;
        background-color: #ECF7FF;
        border-radius: 25px;
        position: relative;

        
    }

    .services-card p{
        margin: 20px 0 20px 0 ;
    }
    .services-card h5{
        margin: 20px 0 0 0 ;
    }
    .services-card img{
        width: 35px;
        height: 35px;
        margin: 5px 0 0 5px;

    }
    .services-card a{
        text-decoration: none;
    }



/* ----------------TESTIMONIAL SECTION-------------- */

    .cti-container{
        background-color: #FFC600;
        margin: 0 20px 0 20px   ;
    }

    .cti-email-input{
        background: url("assets/images/mail.svg");
        background-color: white;
        background-repeat: no-repeat;
        background-position: 3% 50%;
        padding-left: 60px;
        height: 80px;
        width: 37vw;
        border: none;
        margin-bottom: 130px;
    }

    .cti-contact-container{
        margin-top: 30px;
    }
    .cti-title{
        margin-top: 130px;
        margin-bottom: 20px;
    
    }

    .cti-subtitle{
        margin-bottom: 50px;
    }

    .cti-btn{
        margin-left: 20px;
        border: none;
/*         width: 200px; */
        height: 80px;


        background: linear-gradient(225deg, rgb(255, 198, 0), #FFC600);
        box-shadow: 
        2px 2px 10px rgba(0, 0, 0, 0.18),
        -2px -2px 10px rgba(0, 0, 0, 0.18);
        font-weight: 500;
        border-radius: 10px;
    }

/* ----------------TESTIMONIAL SECTION-------------- */
    footer{
        padding: 20px 30px 50px 30px;
        margin-top: 140px;
        bottom: 0;
        width: 95%;
 
    }
    .footer-container{
        justify-content: space-between;

    }
    .footer-logo img{
        margin-bottom: 30px;
        height: 30px;
        width: 100px;
    }
    .footer-logo address{  
        line-height: 1.5rem;
        color: #6B708D;
    }

    .footer-links-container{
        align-self: flex-end;
    }
    .footer-links-container ul{

        flex-wrap: wrap;
        list-style-type: none;
        color: #6B708D;
    }

    .footer-links-container ul li a{
        text-decoration: none;
    }

    .footer-links{
        margin: 0 5px 0 5px;
    }


    /* -------------------------------------------------------------------------------------------------- */
    /* ------------------------------------------FORM STYLE---------------------------------------------- */
    /* -------------------------------------------------------------------------------------------------- */


    .form-section{
        padding: 0 8% 0 8% ;
        margin-top: 146px;
    }

    .form-section h1{
        margin-bottom: 80px;
    }

    .form-container label{
        margin-bottom: 10px;
        color: #6B708D;
    }
    .form-container input{
        margin-bottom: 40px;
        height: 70px;
        border: none;        
        background-color: rgba(107, 112, 141, 10%);
        padding-left: 3%;

    }
    .form-container textarea{
        margin-bottom: 40px;
        padding: 1rem 1rem;
        border: none;
        background-color: rgba(107, 112, 141, 10%);
    }
    .mid-container{
        width: 99%;
        justify-content: space-between;

    }

    .phone-container{
        width: 45%;
    }
    .email-container{
        width: 45%;
    }

    #email-input{
        width: 100%;   
    }


    #phone-input{
        width: 100%;
    }

    
    .submit-btn{
        height: 80px;
        width: 100%;
    }


/* -------------------------------------------------------------------------------------------------- */
/* ------------------------------------------PROJECTS STYLE---------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

.projects{
    padding: 0 2% 0 2%;
}

.post-container{

    margin: 140px auto;
    width: 79%;
}

.project-Img{
    width: 100%;
    height: 450px;
    margin-bottom: 80px;
}
.post-container .h1{
    font-weight: bold;
}

.subtitle-row{
    justify-content: space-between;
    margin: 20px 0 80px 0;
}